# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
id1 = "345143655"
id2 = "314790668"

In [2]:
#df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [5]:
df = pd.DataFrame([id1,id2])

In [6]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

1.Oriana Felszer
2.Avichai Gelman

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [4]:
import pandas as pd
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)
two_countries = vacc_df[(vacc_df.loc[:,'location'] == 'Oman') | (vacc_df.loc[:,'location'] == 'Argentina') ]
two_countries.shape

(868, 16)

 # Q2

In [7]:
argentina = vacc_df[(vacc_df.loc[:,'location'] == 'Argentina')]
argentina.iloc[-3:,[0,1,12]]

       location iso_code  total_boosters_per_hundred
3613  Argentina      ARG                         NaN
3614  Argentina      ARG                        39.0
3615  Argentina      ARG                        39.2

# Q3

In [8]:
max_vacc = two_countries['daily_vaccinations_per_million'].max()
data = two_countries.loc[two_countries['daily_vaccinations_per_million']==max_vacc]
data[['date','location','daily_vaccinations_per_million']]

             date location  daily_vaccinations_per_million
60825  2021-08-23     Oman                         11711.0

max_vacc: between Argentina and Oman we got a maximun value of vaccinations
data: the country with the biggest value of vaccinations

# Q4

In [9]:
oman = vacc_df[(vacc_df.loc[:,'location'] == 'Oman')]

We created a new variable for Oman, since we already created one for Argentina in question number two

In [10]:
aver_argentina= argentina.people_fully_vaccinated_per_hundred.mean()
aver_argentina

31.37992287917738

In [11]:
argentina.people_fully_vaccinated_per_hundred.median()

17.94

In [12]:
aver_oman=oman.people_fully_vaccinated_per_hundred.mean()
aver_oman

13.510298507462686

In [13]:
oman.people_fully_vaccinated_per_hundred.median()

0.36

In our opinion, the reason why the average is higher than the median is that at the beggining, people didn't get vaccinated that much, maybe cause both are undeveloped countries and people got an insecure feeling about the new vaccines and later on lots got them and that's why the average suddenly grow.

# Q5

In [14]:
import statistics
average= statistics.harmonic_mean([aver_argentina,aver_oman])
average

18.8883953851481

Since we have two countries where the amount of population differs, we chose the harmonic mean like we did in the class example.

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line